<!DOCTYPE html>
<html lang="en" ng-app="FitnessApp" ng-cloak>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1080, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Weekend Fitness Challenge</title>
    <link rel="icon" type="image/x-icon" href="ico.ico">

    <script src="./sup/angular.min.js"></script>
    <script src="./app.js"></script>

    <link rel="stylesheet" href="./sup/styles.css">
</head>

<body ng-controller="MainCtrl" class="kiosk-container">

    <!-- HOME SCREEN / CHALLENGE SELECTION -->
    <section ng-show="currentView == 'home'" class="screen">
        <img class="logo-top" src="./img/logo.png" alt="Moov Advance Logo" ng-click="openAdminPanel()" style="cursor: pointer;" />
        <div class="header-title">
            <img class="title-image" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <div class="challenge-menu-home">
            <button class="challenge-btn-with-icon" ng-click="selectChallenge('pushup')">
                <img class="btn-icon" src="./logo/pushup&plank.png" alt="Push-Up Icon" />
                PUSH-UP CHALLENGE
            </button>
            <button class="challenge-btn-with-icon" ng-click="selectChallenge('plank')">
                <img class="btn-icon" src="./logo/pushup&plank.png" alt="Plank Icon" />
                PLANK CHALLENGE
            </button>
            <button class="challenge-btn-with-icon" ng-click="selectChallenge('basketball')">
                <img class="btn-icon" src="./logo/basketball.png" alt="Basketball Icon" />
                BASKETBALL CHALLENGE
            </button>
            <button class="challenge-btn-with-icon" ng-click="selectChallenge('football')">
                <img class="btn-icon" src="./logo/football.png" alt="Football Icon" />
                FOOTBALL CHALLENGE
            </button>
            <button class="challenge-btn-with-icon" ng-click="selectChallenge('quickreaction')">
                <img class="btn-icon" src="./logo/quick_reaction .png" alt="Reaction Icon" />
                REACTION CHALLENGE
            </button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
    </section>

    <!-- CHALLENGE MENU (SEE PLAYER DATA, RESET LEADERBOARD) -->
    <section ng-show="currentView == 'challengeMenu'" class="screen">
        <img class="logo-top" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title">
            <img class="title-image" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon" ng-src="{{getChallengeLogo()}}" alt="Challenge Icon" />
        <div class="challenge-title">
            <span class="title-text-xl">{{selectedChallenge.name}}</span>
        </div>
        <div class="challenge-menu">
            <button class="challenge-btn" ng-click="startChallenge()">START CHALLENGE</button>
            <button class="challenge-btn" ng-click="showLeaderboard()">SEE PLAYER DATA</button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
    </section>

    <!-- PLAYER REGISTRATION FORM -->
    <section ng-show="currentView == 'registration'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon-small" ng-src="{{getChallengeLogo()}}" alt="Challenge Icon" />
        <div class="challenge-title-small">
            <span class="title-text-lg">{{selectedChallenge.name}}</span>
        </div>
        <div class="registration-form">
            <input type="text" class="input-field" placeholder="" ng-model="playerName" />
            <label class="input-label">ENTER PLAYER NAME</label>

            <input type="tel" class="input-field" placeholder="" ng-model="playerContact" />
            <label class="input-label">CONTACT NUMBER</label>

            <button class="start-btn" ng-click="beginChallenge()">START THE<br>CHALLENGE</button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
    </section>

    <!-- ACTIVE CHALLENGE SCREEN - PUSHUP -->
    <section ng-show="currentView == 'activePushup'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon-small" src="./logo/pushup&plank.png" alt="Push-Up Challenge Icon" />
        <div class="challenge-title-small">
            <span class="title-text-lg">PUSH-UP CHALLENGE</span>
        </div>
        <div class="activity-area">
            <div class="player-name">{{playerName}}</div>
            <div class="timer-display">
                <div class="timer-bar"></div>
                <div class="timer-bar"></div>
                <div class="timer-value">{{remainingTime}}</div>
            </div>
            <button class="end-btn" ng-click="endChallenge()">END GAME</button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
        <img class="next-icon" src="./Icon/home.png" alt="Next" ng-click="endChallenge()" />
    </section>

    <!-- ACTIVE CHALLENGE SCREEN - PLANK -->
    <section ng-show="currentView == 'activePlank'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon-small" src="./logo/pushup&plank.png" alt="Plank Challenge Icon" />
        <div class="challenge-title-small">
            <span class="title-text-lg">PLANK CHALLENGE</span>
        </div>
        <div class="activity-area">
            <div class="player-name">{{playerName}}</div>
            <div class="timer-display">
                <div class="timer-bar"></div>
                <div class="timer-bar"></div>
                <div class="timer-value">{{elapsedTime}}</div>
            </div>
            <button class="end-btn" ng-click="endChallenge()">END CHALLNGE</button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
        <img class="next-icon" src="./Icon/home.png" alt="Next" ng-click="endChallenge()" />
    </section>

    <!-- ACTIVE CHALLENGE SCREEN - BASKETBALL -->
    <section ng-show="currentView == 'activeBasketball'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon-small" src="./logo/basketball.png" alt="Basketball Challenge Icon" />
        <div class="challenge-title-small">
            <span class="title-text-lg">BASKETBALL CHALLENGE</span>
        </div>
        <div class="activity-area">
            <div class="player-name">{{playerName}}</div>
            <div class="timer-display">
                <div class="timer-bar"></div>
                <div class="timer-bar"></div>
                <div class="timer-value">{{remainingTime}}</div>
            </div>
            <button class="end-btn" ng-click="endChallenge()">END GAME</button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
        <img class="next-icon" src="./Icon/home.png" alt="Next" ng-click="endChallenge()" />
    </section>

    <!-- ACTIVE CHALLENGE SCREEN - FOOTBALL -->
    <section ng-show="currentView == 'activeFootball'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon-small" src="./logo/football.png" alt="Football Challenge Icon" />
        <div class="challenge-title-small">
            <span class="title-text-lg">FOOTBALL CHALLENGE</span>
        </div>
        <div class="activity-area">
            <div class="player-name">{{playerName}}</div>
            <div class="timer-display">
                <div class="timer-bar"></div>
                <div class="timer-bar"></div>
                <div class="timer-value">{{remainingTime}}</div>
            </div>
            <button class="end-btn" ng-click="endChallenge()">END GAME</button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
        <img class="next-icon" src="./Icon/home.png" alt="Next" ng-click="endChallenge()" />
    </section>

    <!-- ACTIVE CHALLENGE SCREEN - QUICK REACTION -->
    <section ng-show="currentView == 'activeQuickreaction'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon-small" src="./logo/quick_reaction .png" alt="Reaction Challenge Icon" />
        <div class="challenge-title-small">
            <span class="title-text-lg">REACTION CHALLENGE</span>
        </div>
        <div class="activity-area">
            <div class="player-name">{{playerName}}</div>
            <div class="timer-display">
                <div class="timer-bar"></div>
                <div class="timer-bar"></div>
                <div class="timer-value">{{remainingTime}}</div>
            </div>
            <button class="end-btn" ng-click="endChallenge()">END GAME</button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
        <img class="next-icon" src="./Icon/home.png" alt="Next" ng-click="endChallenge()" />
    </section>

    <!-- RESULT SCREEN - PUSHUP -->
    <section ng-show="currentView == 'resultPushup'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon-small" src="./logo/pushup&plank.png" alt="Push-Up Challenge Icon" />
        <div class="challenge-title-small">
            <span class="title-text-lg">PUSH-UP CHALLENGE</span>
        </div>
        <div class="result-area">
            <div class="player-name">{{playerName}}</div>
            <div class="result-label">COMPLETED</div>
            <div class="result-input-container">
                <input type="number" class="result-input" ng-model="finalScore" />
            </div>
            <div class="result-unit">PUSHUPS</div>
            <button class="submit-btn" ng-click="submitScore()">SUBMIT</button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
        <img class="next-icon" src="./Icon/home.png" alt="Next" ng-click="submitScore()" />
    </section>

    <!-- RESULT SCREEN - PLANK -->
    <section ng-show="currentView == 'resultPlank'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon-small" src="./logo/pushup&plank.png" alt="Plank Challenge Icon" />
        <div class="challenge-title-small">
            <span class="title-text-lg">PLANK CHALLENGE</span>
        </div>
        <div class="result-area">
            <div class="player-name">{{playerName}}</div>
            <div class="result-label">HELD A PLANK FOR</div>
            <div class="result-value">{{finalScore}}</div>
            <div class="result-unit">SECONDS</div>
            <button class="submit-btn" ng-click="submitScore()">SUBMIT</button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
        <img class="next-icon" src="./Icon/home.png" alt="Next" ng-click="submitScore()" />
    </section>

    <!-- RESULT SCREEN - BASKETBALL -->
    <section ng-show="currentView == 'resultBasketball'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon-small" src="./logo/basketball.png" alt="Basketball Challenge Icon" />
        <div class="challenge-title-small">
            <span class="title-text-lg">BASKETBALL CHALLENGE</span>
        </div>
        <div class="result-area">
            <div class="player-name">{{playerName}}</div>
            <div class="result-label">SUCCESSFULLY MADE</div>
            <div class="result-input-container">
                <input type="number" class="result-input" ng-model="finalScore" />
            </div>
            <div class="result-unit">SHOTS</div>
            <button class="submit-btn" ng-click="submitScore()">SUBMIT</button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
        <img class="next-icon" src="./Icon/home.png" alt="Next" ng-click="submitScore()" />
    </section>

    <!-- RESULT SCREEN - FOOTBALL -->
    <section ng-show="currentView == 'resultFootball'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon-small" src="./logo/football.png" alt="Football Challenge Icon" />
        <div class="challenge-title-small">
            <span class="title-text-lg">FOOTBALL CHALLENGE</span>
        </div>
        <div class="result-area">
            <div class="player-name">{{playerName}}</div>
            <div class="result-label">SUCCESSFULLY MADE</div>
            <div class="result-input-container">
                <input type="number" class="result-input" ng-model="finalScore" />
            </div>
            <div class="result-unit">SHOTS</div>
            <button class="submit-btn" ng-click="submitScore()">SUBMIT</button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
        <img class="next-icon" src="./Icon/home.png" alt="Next" ng-click="submitScore()" />
    </section>

    <!-- RESULT SCREEN - QUICK REACTION -->
    <section ng-show="currentView == 'resultQuickreaction'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon-small" src="./logo/quick_reaction .png" alt="Reaction Challenge Icon" />
        <div class="challenge-title-small">
            <span class="title-text-lg">REACTION CHALLENGE</span>
        </div>
        <div class="result-area">
            <div class="player-name">{{playerName}}</div>
            <div class="result-label">SUCCESSFULLY CAUGHT</div>
            <div class="result-input-container">
                <input type="number" class="result-input" ng-model="finalScore" />
            </div>
            <div class="result-unit">STICKS</div>
            <button class="submit-btn" ng-click="submitScore()">SUBMIT</button>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
        <img class="next-icon" src="./Icon/home.png" alt="Next" ng-click="submitScore()" />
    </section>

    <!-- LEADERBOARD SCREEN -->
    <section ng-show="currentView == 'leaderboard'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <img class="challenge-icon-small" ng-src="{{getChallengeLogo()}}" alt="Challenge Icon" />
        <div class="leaderboard-title">
            <span class="title-text-lg">{{selectedChallenge.name}}<br>LEADERBOARD</span>
        </div>
        <div class="leaderboard-table">
            <table>
                <tr ng-repeat="entry in leaderboardData | orderBy:'-score' | limitTo:5">
                    <td class="badge">
                        <img ng-if="$index === 0" src="./batch/1st.png" alt="1st Place" class="badge-img badge-1st" />
                        <img ng-if="$index === 1" src="./batch/2nd.png" alt="2nd Place" class="badge-img badge-2nd" />
                        <img ng-if="$index === 2" src="./batch/3rd.png" alt="3rd Place" class="badge-img badge-3rd" />
                    </td>
                    <td class="rank">{{$index + 1 | number:3}}</td>
                    <td class="name">{{entry.name | uppercase}}</td>
                    <td class="score">{{entry.score | number:3}}</td>
                </tr>
            </table>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
        <button class="new-player-btn" ng-click="startChallenge()">New</button>
    </section>

    <!-- ADMIN PANEL -->
    <section ng-show="currentView == 'admin'" class="screen">
        <img class="logo-top-small" src="./img/logo.png" alt="Moov Advance Logo" />
        <div class="header-title-small">
            <img class="title-image-small" src="./img/title.png" alt="Weekend Fitness Challenge" />
        </div>
        <div class="admin-panel">
            <h2 class="admin-title">ADMIN PANEL</h2>

            <div class="admin-section">
                <h3 class="admin-subtitle">COUNTDOWN TIMER SETTINGS</h3>
                <div class="timer-settings">
                    <div class="timer-setting-item">
                        <label>PUSH-UP (seconds):</label>
                        <input type="number" ng-model="challenges.pushup.duration" min="10" max="300" />
                    </div>
                    <div class="timer-setting-item">
                        <label>BASKETBALL (seconds):</label>
                        <input type="number" ng-model="challenges.basketball.duration" min="10" max="300" />
                    </div>
                    <div class="timer-setting-item">
                        <label>FOOTBALL (seconds):</label>
                        <input type="number" ng-model="challenges.football.duration" min="10" max="300" />
                    </div>
                    <div class="timer-setting-item">
                        <label>REACTION (seconds):</label>
                        <input type="number" ng-model="challenges.quickreaction.duration" min="10" max="300" />
                    </div>
                </div>
                <button class="admin-btn" ng-click="updateChallengeDuration()">SAVE TIMER SETTINGS</button>
            </div>

            <div class="admin-section">
                <h3 class="admin-subtitle">RESET LEADERBOARDS</h3>
                <div class="reset-buttons">
                    <button class="admin-btn-small" ng-click="resetSingleLeaderboard('pushup')">RESET PUSH-UP</button>
                    <button class="admin-btn-small" ng-click="resetSingleLeaderboard('plank')">RESET PLANK</button>
                    <button class="admin-btn-small" ng-click="resetSingleLeaderboard('basketball')">RESET BASKETBALL</button>
                    <button class="admin-btn-small" ng-click="resetSingleLeaderboard('football')">RESET FOOTBALL</button>
                    <button class="admin-btn-small" ng-click="resetSingleLeaderboard('quickreaction')">RESET REACTION</button>
                </div>
                <button class="admin-btn-danger" ng-click="resetAllLeaderboards()">RESET ALL LEADERBOARDS</button>
            </div>
        </div>
        <img class="home-icon" src="./Icon/home.png" alt="Home" ng-click="goHome()" />
    </section>

</body>

</html>
